
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="input">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <p>Name field cannot be empty!</p>
      </div>
    </div>
    <div class="input">
      <label for="email">E-mail</label>
      <input id="email" type="email" formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors?.['required']">
          <p>Email field cannot be empty</p>
        </div>
        <div *ngIf="email.errors?.['email']">
          <p>This doesn't look like email address</p>
        </div>
      </div>
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <div class="input">
      <label for="repeatPassword">Repeat password</label>
      <input id="repeatPassword" type="password" formControlName="repeatPassword">
    </div>
    <div>
      <button [disabled]="!signUpForm.valid"  type="submit">Sign in</button>
    </div>
  </form>

