article{
  background-color: var(--text);
  color: var(--main);
  box-shadow: 10px 10px var(--shadow);
}

.user-info, .product-info{
  margin-left: 5%;
}

.user-info{
  display: flex;
  width: 100%;
}

.product-img{
  width: 90%;
  margin-left: 5%;
}

p{
  margin: 0;
  padding: 10px 0;
}
