<main>
  <div class="options">
    <div>
      <h1>Sort by</h1>
    </div>
    <div>
      <h1>Filters</h1>
    </div>
  </div>
  <div class="grid">
    <app-product class="grid-item" *ngFor="let products of products"
                 [id]="products.id"
                 [userId]="products.owner_id"
                 [username]="products.username"
                 [avatarSrc]="products.picture"
                 [imgSrc]="products.pictures[0]"
                 [name]="products.name"
                 [price]="products.price"
    ></app-product>
  </div>
</main>
