<main>
  <div class="options">
    <div>
      <h1>Sort by</h1>
    </div>
    <div>
      <h1>Filters</h1>
    </div>
  </div>
  <div class="grid">
    <app-product class="grid-item"></app-product>
    <app-product class="grid-item"></app-product>
    <app-product class="grid-item"></app-product>
    <app-product class="grid-item"></app-product>
    <app-product class="grid-item"></app-product>
    <app-product class="grid-item"></app-product>
    <app-product class="grid-item"></app-product>
  </div>
</main>
