/* You can add global styles to this file, and also import other style files */

:root{
  --main: #d6c399;
  --second: #fae2ea;
  --text: black;
  --shadow: #bbb27b;
}

body{
  background-color: var(--main);
  font: 1.2rem "Fira Sans", sans-serif;
  margin: 0 50px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
  text-decoration: underline;
}

