/* You can add global styles to this file, and also import other style files */

:root{
  --main: #d6c399;
  --second: #fae2ea;
  --text: black;
  --shadow: #bbb27b;
}

body{
  background-color: var(--main);
  font: 1.2rem "Fira Sans", sans-serif;
  margin: 0 50px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
  text-decoration: underline;
}

/* Style for input */
input{
  background-color: var(--main);
  border: none;
  border-bottom: 2px solid var(--text);
}

input:focus{
  outline: none;
}

label{
  font-size: 120%;
}

.input{
  display: flex;
  flex-direction: column;
}

button{
  border: 1px solid var(--text);
  box-shadow: 5px 5px var(--text);
  background-color: var(--main);
  color: var(--text);
  font-size: 26px;
  padding: 15px 40px;
  margin: 10px 0;
  transition: 0.5s ease-in;
}

button:hover{
  cursor: pointer;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--text);
  box-shadow: 10px 10px var(--text);
  width: 50%;
  height: 60vh;
  margin-left: 25%;
}
