nav{
  border-bottom: 2px solid black;
  display: flex;
  justify-content: flex-end;
}

ul{
  width: 30vw;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.router{
  margin: 50px 0;
}

@media only screen and (max-width: 960px){
  ul{
    width: 100%;
  }
}

@media only screen and (max-width: 480px){
  ul{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  li{
    margin: 10px 0;
  }
}
